_bucket_config/
_firebird_config/
_virtual_paths_config/
buckets/
logs/*.log
node_modules/
.DS_Store
__history/
test-*.xml
*.dcu
.ntvs_analysis.dat
obj/Debug/DataEngine.njsprojResolveAssemblyReference.cache
test/npm-debug.log
obj/Debug/DataEngine.njsproj.FileListAbsolute.txt
*.~dsk
*.identcache
*.stat
*.dsk
win32/**
win64/**
